<section id="advantages">
    <div class="advantages-wrapper">
        <div class="advantages-title_wrapper">
            <h2 class="advantages-title">Advantages</h2>
            <p class="advantages-title_paragraph">Why this game stands out</p>
        </div>
        <ul class="advantages-list">
            <li class="advantages-list_item">
                <div class="list-item_wrapper">
                    <img class="advantages-img" src="/img/gallery/bell.png" alt="">
                    <h3 class="a_list-item_paragraph">Visible Progress</h3>
                </div>
                <p class="advantages-text">You see the kingdom change as you play.</p>
            </li>
            <li class="advantages-list_item">
                <div class="list-item_wrapper">
                    <img class="advantages-img" src="/img/gallery/bell.png" alt="">
                    <h3 class="a_list-item_paragraph">Balanced Gameplay</h3>
                </div>
                <p class="advantages-text">Relaxing but still engaging.</p>
            </li>
            <li class="advantages-list_item">
                <div class="list-item_wrapper">
                    <img class="advantages-img" src="/img/gallery/bell.png" alt="">
                    <h3 class="a_list-item_paragraph">Short Sessions</h3>
                </div>
                <p class="advantages-text">Play anytime without long commitments.</p>
            </li>
            <li class="advantages-list_item">
                <div class="list-item_wrapper">
                    <img class="advantages-img" src="/img/gallery/bell.png" alt="">
                    <h3 class="a_list-item_paragraph">Fantasy Atmosphere</h3>
                </div>
                <p class="advantages-text">A consistent and appealing world.</p>
            </li>
        </ul>
    </div>
</section>