<section class="characters-section" id="characters">
  <div class="container characters-container">
    <h2 class="characters-title">Characters</h2>
    <h3 class="characters-subtitle">Faces of the kingdom</h3>
    <ul class="characters-list">
      <li class="characters-item">
        <div class="characters-item-background">
          <img
            class="characters-item-img"
            src="/img/gallery/Elric-image.png"
            srcset="
              /img/gallery/Elric-image.png    1x,
              /img/gallery/Elric-image@2x.png 2x
            "
            alt="Elric"
          />
        </div>
        <h4 class="characters-item-subtitle">Elric - The Young King</h4>
        <p class="characters-item-text">
          This young king who's basically trying to fix everything that went
          wrong in his kingdom. Guides the player through early stages.
        </p>
      </li>
      <li class="characters-item">
        <div class="characters-item-background">
          <img
            class="characters-item-img"
            src="/img/gallery/Lyra-image.png"
            srcset="
              /img/gallery/Lyra-image.png    1x,
              /img/gallery/Lyra-image@2x.png 2x
            "
            alt="Lyra"
          />
        </div>
        <h4 class="characters-item-subtitle">Lyra - The Court Mage</h4>
        <p class="characters-item-text">
          Provides magical <br />
          Assistance and<br />
          introduces special <br />abilities.
        </p>
      </li>
      <li class="characters-item">
        <div class="characters-item-background">
          <img
            class="characters-item-img"
            src="/img/gallery/Borin-image.png"
            srcset="
              /img/gallery/Borin-image.png    1x,
              /img/gallery/Borin-image@2x.png 2x
            "
            alt="Borin"
          />
        </div>
        <h4 class="characters-item-subtitle">Borin — The Builder</h4>
        <p class="characters-item-text">
          Responsible for <br />reconstruction.<br />
          Represents progression <br />and upgrades.
        </p>
      </li>
      <li class="characters-item">
        <div class="characters-item-background">
          <img
            class="characters-item-img"
            src="/img/gallery/Mira-image.png"
            srcset="
              /img/gallery/Mira-image.png    1x,
              /img/gallery/Mira-image@2x.png 2x
            "
            alt="Mira"
          />
        </div>
        <h4 class="characters-item-subtitle">Mira — The Explorer</h4>
        <p class="characters-item-text">
          Unlocks new areas and encourages discovery <br />beyond the castle.
        </p>
      </li>
    </ul>
  </div>
</section>
