<section id="contact">
    <div class="container contact-wrapper">
        <picture class="contact-picture">
            <source srcset="/img/mobile/icon- crown-mobile.png">
            <img src="/img/desktop/icon- crown-desktop.png" alt="">
        </picture>
        <div class="contact-connect_wrapper">
            <h2 class="contact-title">Contact</h2>
        <p class="contact-paragraph">Stay connected</p>
        <p class="contact-paragraph-email">Email: info@quietprotocolway.online</p>
        </div>
        <picture class="contact-picture-2">
            <source srcset="/img/mobile/icon- crown-mobile.png">
            <img src="/img/desktop/icon- crown-desktop.png" alt="">
        </picture>
    </div>
</section>
