<section id="playerFeedback">
    <div class="feedback-wrapper">
        <h2 class="feedback-title">Player Feedback</h2>
        <ul class="feedback-list">
            <li class="feedback-list_item">
                <h3 class="feedback-list_paragraph">Anna L.</h3>
                <div class="feedback-icon_wrapper">
                <svg class="feedback-icon">
                    <use href="../img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="../img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="../img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="../img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="../img/sprite.svg#icon-grey-star"></use>
                </svg>
                </div>
                <p class="feedback-list-item_paragraph">“Nice fantasy theme and smooth progression.”</p>
            </li>
            <li class="feedback-list_item">
                <h3 class="feedback-list_paragraph">MagicPlayer</h3>
                <div class="feedback-icon_wrapper">
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                </div>
                <p class="feedback-list-item_paragraph">“Beautiful visuals and very relaxing gameplay.”</p>
            </li>
            <li class="feedback-list_item">
                <h3 class="feedback-list_paragraph">Leo S.</h3>
                <div class="feedback-icon_wrapper">
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-grey-star"></use>
                </svg>
                </div>
                <p class="feedback-list-item_paragraph">“Easy to play and visually enjoyable.”</p>
            </li>
            <li class="feedback-list_item">
                <h3 class="feedback-list_paragraph">PuzzleKnight</h3>
                <div class="feedback-icon_wrapper">
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                </div>
                <p class="feedback-list-item_paragraph">“Great match-3 with a strong atmosphere.”</p>
            </li>
            <li class="feedback-list_item">
                <h3 class="feedback-list_paragraph">RoyalFan</h3>
                <div class="feedback-icon_wrapper">
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                <svg class="feedback-icon">
                    <use href="/img/sprite.svg#icon-yellow-star"></use>
                </svg>
                </div>
                <p class="feedback-list-item_paragraph">“Love the characters and the world.”</p>
            </li>
        </ul>
    </div>
</section>