<section id="gallery">
    <div class="galery-wrapper">
        <h2 class="galery-title">Gallery</h2>
        <div class="galery-swapper-container">
        <ul class="galery-list">
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image4.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image3.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image2.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image5.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image1.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image4.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image3.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image2.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image5.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image1.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image4.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image3.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image2.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image5.png" alt="" srcset="">
            </li>
            <li class="galery-list_item">
                <img class="galery-list_img" src="/img/desktop/gallery-desktop-image1.png" alt="" srcset="">
            </li>
        </ul>
        </div>
        <div class="galery-swipe_wrapper">
            <button class="galery-btn_left">
                <svg class="galery-icon-left">
                    <use href="/img/sprite.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button class="galery-btn_right">
                <svg class="galery-icon-right">
                    <use href="/img/sprite.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>