<header class="header">
  <div class="container nav-container">
    <a class="logo" href="./">
      <img class="logo" src="/img/logo.png" alt="logo" />
    </a>
    <nav class="header-nav">
      <a href="#home">Home</a>
      <a href="#gameOverview">Game Overview</a>
      <a href="#howItWorks">How It Works</a>
      <a href="#keyFeatures">Key Features</a>
      <a href="#characters"> Characters</a>
      <a href="#advantages">Advantages</a>
      <a href="#gallery">Gallery</a>
      <a href="#playerFeedback">Player Feedback</a>
      <a href="#contact">Contact</a>
    </nav>
    <button class="menu-btn" id="openMenuBtn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="mobile-menu-overlay" id="mobileMenu">
    <button
      type="button"
      class="close-btn"
      id="closeMenuBtn"
      aria-label="Close menu"
    >
      <svg class="icon-close" width="12" height="12">
        <use href="/img/sprite.svg#icon-mobile-close-btn"></use>
      </svg>
    </button>
    <nav class="mobile-menu-links">
      <a href="#home">Home</a>
      <a href="#gameOverview">Game Overview</a>
      <a href="#howItWorks">How It Works</a>
      <a href="#keyFeatures">Key Features</a>
      <a href="#characters"> Characters</a>
      <a href="#advantages">Advantages</a>
      <a href="#gallery">Gallery</a>
      <a href="#playerFeedback">Player Feedback</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</header>
