<section class="hero-section" id="home">
  <div class="container hero-container">
    <h1 class="hero-title">
      Match, Explore, and <br class="hero-br" />Restore the Kingdom
    </h1>
    <h2 class="hero-subtitle">
      Every move brings magic <br class="hero-br" />back to life
    </h2>
    <a
      class="hero-download-btn"
      href="https://play.google.com/store/apps/details?id=com.dreamspark.royal.adventure&hl=en&gl=us"
      ><img
        class="googleplay-img"
        src="/img/Playstore.png"
        alt="Google Play"
      /><span class="download-btn-wrapper">
        <span class="download-text-small">GET IT ON</span>
        <span class="download-text-big">Google Play</span>
      </span></a
    >
  </div>
</section>
