<section class="how-it-works-section" id="howItWorks">
  <div class="container how-it-works-container">
    <h2 class="how-it-works-title">How it works</h2>
    <div class="how-it-works-wrapper">
      <div class="first-part">
        <p class="how-it-works-text">
          Here's how it works(It's pretty straightforward)
        </p>

        <ul class="how-it-works-list">
          <li class="how-it-works-item">
            <img
              class="how-it-works-img"
              src="/img/gallery/green-stone.png"
              alt="Clover"
            />
            <div class="how-it-works-content">
              <h3 class="how-it-works-subtitle">Match Gems</h3>
              <p class="how-it-works-desc">
                Combine Three Or More Elements To Clear Them From The Board.
              </p>
            </div>
          </li>

          <li class="how-it-works-item">
            <img
              class="how-it-works-img"
              src="/img/gallery/green-stone.png"
              alt="stone"
            />
            <div class="how-it-works-content">
              <h3 class="how-it-works-subtitle">Create Power Moves</h3>
              <p class="how-it-works-desc">
                Build Larger Matches To Trigger Magical Effects.
              </p>
            </div>
          </li>

          <li class="how-it-works-item">
            <img
              class="how-it-works-img"
              src="/img/gallery/green-stone.png"
              alt="stone"
            />
            <div class="how-it-works-content">
              <h3 class="how-it-works-subtitle">Complete Tasks</h3>
              <p class="how-it-works-desc">
                Finish Level Objectives To Progress Further.
              </p>
            </div>
          </li>

          <li class="how-it-works-item">
            <img
              class="how-it-works-img"
              src="/img/gallery/green-stone.png"
              alt="stone"
            />
            <div class="how-it-works-content">
              <h3 class="how-it-works-subtitle">Unlock Areas</h3>
              <p class="how-it-works-desc">
                Restore Parts Of The Kingdom Step By Step.
              </p>
            </div>
          </li>

          <li class="how-it-works-item">
            <img
              class="how-it-works-img"
              src="/img/gallery/green-stone.png"
              alt="stone"
            />
            <div class="how-it-works-content">
              <h3 class="how-it-works-subtitle">Advance The Journey</h3>
              <p class="how-it-works-desc">
                Move Through New Locations And Challenges.
              </p>
            </div>
          </li>

          <li class="how-it-works-item">
            <img
              class="how-it-works-img"
              src="/img/gallery/green-stone.png"
              alt="stone"
            />
            <div class="how-it-works-content">
              <h3 class="how-it-works-subtitle">
                Collect Items To Improve Your Abilities.
              </h3>
              <p class="how-it-works-desc">Gather Resources For Upgrades</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="second-part">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/desktop/How-It-Works-image-desktop.png    1x,
              /img/desktop/How-It-Works-image-desktop@2x.png 2x
            "
          />

          <img
            class="how-it-works-section-img"
            src="/img/mobile/How-It-Works-image-mobile.png"
            srcset="
              /img/mobile/How-It-Works-image-mobile.png    1x,
              /img/mobile/How-It-Works-image-mobile@2x.png 2x
            "
            alt="How it works"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
