<section class="key-features-section" id="keyFeatures">
  <div class="container features-container">
    <h2 class="features-title">Key Features</h2>
    <h3 class="features-subtitle">What makes this game actually fun</h3>
    <ul class="features-list">
      <li class="features-item">
        <img
          class="features-img"
          alt="stone"
          src="/img/gallery/red-stone.png"
        />
        <h3 class="features-item-title">Fantasy Setting</h3>
        <p class="features-item-text">
          The whole world`s got this bright, magical vibe going on.
        </p>
      </li>
      <li class="features-item features-darkpurple-item">
        <img
          class="features-img"
          alt="stone"
          src="/img/gallery/red-stone.png"
        />
        <h3 class="features-item-title">Visual Feedback</h3>
        <p class="features-item-text">
          Each match gives you that little dopamine hit - you know you're making
          a difference.
        </p>
      </li>
      <li class="features-item features-blue-item">
        <img
          class="features-img"
          alt="stone"
          src="/img/gallery/red-stone.png"
        />
        <h3 class="features-item-title">Level Variety</h3>
        <p class="features-item-text">
          Different layouts and objectives keep gameplay fresh.
        </p>
      </li>
      <li class="features-item features-darkpurple-item">
        <img
          class="features-img"
          alt="stone"
          src="/img/gallery/red-stone.png"
        />
        <h3 class="features-item-title">Accessible Gameplay</h3>
        <p class="features-item-text">Easy to learn and play anytime.</p>
      </li>
      <li class="features-item">
        <img
          class="features-img"
          alt="stone"
          src="/img/gallery/red-stone.png"
        />
        <h3 class="features-item-title">Smooth Progression</h3>
        <p class="features-item-text">Gradual increase in challenge.</p>
      </li>
    </ul>
  </div>
</section>
