.advantages-wrapper{
padding: 72px;
background: #dcf0fb;
}

@media screen and (max-width: 426px) {
    .advantages-wrapper{
padding: 38px 16px;
    }
    
}

.advantages-title_wrapper{
display: flex;
flex-direction: column;
gap: 22px;
justify-content: center;
align-items: center;
margin-bottom: 38px;
}

@media screen and (max-width: 426px) {
.advantages-title_wrapper{
gap: 12px;
margin-bottom: 24px;
}
    
}


.advantages-title{
font-weight: 600;
font-size: 40px;
text-transform: uppercase;
color: #000;
}

@media screen and (max-width: 426px) {
.advantages-title{
font-size: 24px;
}
    
}

.advantages-title_paragraph{
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: #000;
}

@media screen and (max-width: 426px) {
.advantages-title_paragraph{
font-size: 20px;
}
    
}

.advantages-list{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 24px;
width: 100%;
}

@media screen and (max-width: 426px) {
.advantages-list{
gap: 18px;
}
    
}

.advantages-list_item{
border: 4px solid #4c9ae7;
border-radius: 4px;
padding: 16px 12px;
width: 636px;
min-height: 120px;
background: #4c9ae7;
}

@media screen and (max-width: 426px) {
.advantages-list_item{

padding: 18px 14px;
width: 100%;
min-height: 129px;
}
    
}

.list-item_wrapper{
display: flex;
gap: 8px;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}

.advantages-img{
    width: 31px;
    height: 46px;
}

@media screen and (max-width: 426px) {
.advantages-img{
    display: none;
}
    
}

.a_list-item_paragraph{
font-weight: 500;
font-size: 32px;
text-align: center;
color: #fff;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 426px) {
.a_list-item_paragraph{
font-size: 24px;
}
    
}

.advantages-text{
font-weight: 400;
font-size: 24px;
text-align: center;
color: #fff;
}

@media screen and (max-width: 426px) {
.advantages-text{
font-size: 20px;
}
    
}