#contact{
background: #f1faff;
}

.contact-wrapper{
    display: flex;
    padding: 0 16px 38px 16px;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1440px) {
    .contact-wrapper{
        flex-direction: row;
    padding: 72px;
}
}

.contact-connect_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title{
font-weight: 600;
font-size: 24px;
text-transform: uppercase;
color: #000;
margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
.contact-title{
font-size: 40px;
}
}

.contact-paragraph{
font-weight: 400;
font-size: 24px;
text-transform: capitalize;
text-align: center;
color: #000;
margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
.contact-paragraph{
font-size: 32px;
}
}


.contact-paragraph-email{
font-weight: 400;
font-size: 20px;
text-transform: capitalize;
text-align: center;
color: #000;
}

@media screen and (min-width: 1440px) {
.contact-paragraph-email{
font-size: 32px;
}
}

.contact-picture-2{
    display: none;
}

.contact-picture{
    margin: 0 auto;
    width: 137px;
    height: 92px;
    margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
.contact-picture, .contact-picture-2{
       display: block;
    width: 411px;
    height: 274px;
}

}