.footer{
  background: #264d74;
}

.footer-wrapper {
  padding: 38px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 1440px) {
.footer-wrapper{
  gap: 16px;
  padding: 56px 72px;
}
}

.footer-desc {
  text-align: center;
}

.footer-link {
font-weight: 400;
font-size: 20px;
text-transform: capitalize;
text-decoration: underline;
text-decoration-skip-ink: none;
text-align: center;
color: #fff;
}

@media screen and (min-width: 1440px) {
.footer-link{
  font-size: 32px;
}
}

.footer-paragraph{
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
text-transform: capitalize;
text-align: center;
color: #fff;
}

@media screen and (min-width: 1440px) {
.footer-paragraph{
  font-size: 20px;
}
}