.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-nav {
  display: none;
}
.menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 5px;
}
@media screen and (min-width: 1440px) {
  .header-nav {
    display: flex;
    gap: 32.75px;
    font-weight: 400;
    font-size: 20px;
    color: #000;
  }

  .menu-btn {
    display: none;
  }
  .logo {
    margin-right: 34px;
  }
  .nav-container {
    justify-content: left;
  }
}
.menu-btn.hidden {
  opacity: 0;
}
.menu-btn span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 182px;
  height: 100vh;
  background-color: #eaf4fa;
  z-index: 100;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.3s ease;
}

.mobile-menu-overlay.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.close-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
.mobile-menu-links {
  display: flex;
  flex-direction: column;
  padding: 34px 16px;
}
.mobile-menu-links a {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
.mobile-menu-links a:not(:last-child) {
  margin-bottom: 16px;
}
