.terms-section {
  background-color: #eaf4fa;
}

.terms-container {
  padding: 38px 16px 12px;
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .terms-container {
    padding: 72px;
  }
}

.terms-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 12px;
}

.terms-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-bottom: 12px;
}

.terms-list {
  list-style-type: disc;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-bottom: 12px;
}

.paragrap-8 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 4px;
}

.last-section {
  margin-bottom: 0;
}

@media screen and (min-width: 1440px) {
  .terms-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .paragrap-8 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
